body {
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: white;
    padding: 10px 0px 5vw 0px;
}

p {
    margin: 0;
}

input {
    height: 85%;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    display: none;
}

.displayFlex {
    display: flex;
}

.displayNone {
    display: none !important;
}

.allCards {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5vw;
}

.imgCont {
    display: none;
    flex-direction: column;
    align-items: center;
    min-width: 150px;
    width: 9vw;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    background-color: #383E42;
    overflow: hidden;
}

.imgCont.shown {
    display: flex;
}

.imgCont img {
    width: 100%;
    height: auto;
}

.allCards .imgCont .front img:hover {
    transform: scale(1.25);
}

.imgCont .name {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    font-size: 14px;
    padding: 5px;
    box-sizing: border-box;
}

.imgCont p {
    text-align: center;
    width: fit-content;
}

.imgCont .playNoice {
    align-items: center;
}

.loadingBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10px;
    box-sizing: border-box;
}

.loadingBar .inner {
    align-items: center;
    justify-content: center;
    width: 0%;
    height: 100%;
    background-color: rgb(255, 230, 45);
}

.overlay {
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
}

.overlay .overlaySlider {
    align-items: center;
    justify-content: center;
}

.overlay .slideCont {
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.arrow-prev, .arrow-next {
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
    overflow: hidden;
}

.arrow-prev img:hover {
    transform: scale(1.5);
}

.arrow-next img:hover {
    transform: scale(-1.5);
}

.arrow-prev img, .arrow-next img {
    width: 200%;
    height:auto;
}

.arrow-next img {
    transform: rotate(180deg);
}

.arrow-prev {
    left: 5%;
}

.arrow-next {
    right: 5%;
}

.overlay .closeOverlay {
    position: absolute;
    top: 4vw;
    right: 4vw;
    cursor: pointer;
}

.overlay .imgCont {
    transform: scale(2);
}

.searchBar {
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 5vh;
    background-color: red;
    z-index: 50;
}

.searchBar input {
    padding: 10px;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

#searchAttributes {
    width: 50%;
}

#loadFurther {
    min-width: 80px;
    width: 15%;
}

.fromTo {
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 100%;
    column-gap: 10px;
}

#from, #to {
    min-width: 80px;
    width: 20%;
    padding-top: 0;
    padding-bottom: 0;
}

.front, .back {
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;
    background-color: #383E42;
    aspect-ratio: 1728 / 2508;
}

.back {
    justify-content: space-evenly;
    box-sizing: border-box;
}

.rotateAble .front {
    transform: scale(1);
}

.rotateAble .back {
    transform: scaleX(-2) scaleY(2);
    padding: 0px 10px;
    box-sizing: border-box;
}

.evolutions {
    flex-direction: column;
    align-items: center;
}

.separator {
    width: 80%;
    height: 2px;
    background-color: white;
}

.evos {
    justify-content: center;
}

.evo {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.evo p {
    width: fit-content;
    font-size: 12px;
}

.evo img {
    width: 50%;
    height: auto;
}

.diagramm {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}

.diagramm div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    width: 100%;
}

.diagramm div .bar {
    display: flex;
    column-gap: 10px;
    width: 75%;
    height: 15px;
    position: relative;
}

.diagramm div .bar .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80% !important;
    width: 0%;
    background-color: gold;
}

.diagramm div p {
    width: 40%;
    font-size: 8px;
    text-align: right;
}

.diagramm div .bar .inner p {
    font-size: 10px;
    color: #383E42;
    width: fit-content;
    position: absolute;
    top: 53%;
    left: 5%;
    transform: translate(0%, -50%);
    color: white;
    margin: 0;
}

.evolvesTo {
    font-size: 14px;
    text-align: center;
}

.skipLoading {
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 500px) {
    body {
        padding-bottom: 50px;
    }

    .arrow-prev, .arrow-next {
        filter: invert(86%) sepia(11%) saturate(4583%) hue-rotate(7deg) brightness(92%) contrast(79%);
    }
}